* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #E0DFDA;
  line-height: 1.6;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h1 {
  background-color: #9CAF88;
  color: white;
  padding: .75rem 1rem;
  border-radius: .5rem;
  text-align: center;
}
h2 {
  background-color: #708090;
  color: #fff;
  padding: .4rem .6rem;
  border-radius: .4rem;
}

h3 {
  text-decoration: underline;
}

img {
   border: 1.5px solid black;
  padding: 0;
  margin: 1rem 0;
  border-radius: 6px;
  background-color: #E0DFDA;
  box-shadow: 0 4px 8px rgb(62, 59, 59, .25);
}
.smokedham {
  max-width: 100%;
  height: auto;
  display: block;
}

article, section {
margin-block: 1rem;
}

section {
  border: 3.5px solid #708090;
  padding: 1.25rem;
  margin: 1.5rem 0;
  border-radius: 11px;
  background-color: #E0DFDA;
  box-shadow: 0 4px 8px rgb(62, 59, 59, 1);
  
}

ul, ol {
  padding-left: 1.25rem;
}
li {
  margin-bottom: 0.5rem;
}

nav {
  font-family: arial, sans-serif;
}
nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: inherit;
}
nav a:focus {
  outline: 2px solid #007bff;
  outline-offset: 4px;;
}

nav a:hover {
  text-decoration: underline;
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #9CAF88;
  color: white;
  font-size: 0.9rem;
}